{% extends '/front/page.twig' %}

{% block page_content %}
    <header class="masthead" style="background-image: url('{% if post.imageExist %}/public/uploads/posts/{{ post.slug }}.webp{% else %}/public/assets/front/img/home-bg.jpg{% endif %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.description }}</h2>
                        <span class="meta">
                                Ecrit par
                                <span>{{ getPostAuthorById(post.idUser) }}</span>
                                le {{ post.dateAdd|date('d/m/Y') }}
                        </span>
                        <span class="meta" style="margin-top: 10px">
                            {% set readingTime = getReadingTime(post.body) %}
                            Temps de lecture : {% if readingTime == 0 %}quelque secondes{% else %}{{ readingTime }} minutes{% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for block in post.body %}
                    {% if block['type'] == 'header' %}
                        <h{{ block['data']['level'] }}>{{ block['data']['text'] }}</h{{ block['data']['level'] }}>
                    {% elseif block['type'] == 'paragraph' %}
                        <p class="paragraph">{{ block['data']['text'] }}</p>
                    {% elseif block['type'] == 'quote' %}
                        <p class="quote"><cite>{{ block['data']['text'] }}</cite> par {{ block['data']['caption'] }}</p>
                    {% elseif block['type'] == 'warning' %}

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="mb-4">Commentaires</h2>

                <div class="card mb-4 comment_form">
                    <div class="card-body">
                        <form action="/post/{{ post.slug }}/comment" method="post" class="row g-3 needs-validation">
                            <input type="hidden" name="comment-id" value="">
                            <div class="mb-3">
                                <label for="comment-title" class="form-label">Titre du commentaire</label>
                                <input name="comment_title" type="text" class="form-control" id="comment-title" placeholder="Titre du commentaire" required>
                            </div>
                            <div class="mb-3">
                                <label for="comment-message" class="form-label">Message</label>
                                <textarea name="comment_body" class="form-control" id="comment-message" rows="3" placeholder="Votre commentaire" required></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>

                {% for comment in post.getComments() %}
                    {% if comment.valid %}
                        {% include '/front/post/_partials/comment.twig' %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
