{% extends '/front/page.twig' %}

{% block page_content %}
    {% include '/front/_partials/header.twig' %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="/post/{{ post.getSlug() }}">
                            <h2 class="post-title">{{ post.getTitle() }}</h2>
                            <h3 class="post-subtitle">{{ post.getDescription()|raw }}</h3>
                        </a>
                        <p class="post-meta">
                            Ecrit par
                            <span style="color: black">{{ getPostAuthorById(post.getIdUser()) }}</span>
                            le {{ post.getDateAdd()|date('m/d/Y') }}
                        </p>
                    </div>

                    {% if not loop.last %}
                        <hr class="my-4"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
