{% extends '/admin/page.twig' %}

{% block page_title %}
    Articles - Modifier un article
{% endblock %}

{% block page_content %}
    <form action="" method="post" class="row g-3 needs-validation" id="form_post" data-id="{{ post.id }}" data-action="edit" data-retarget-url="{{ route('admin_posts') }}">
        <div class="col-md-12">
            <label for="post_title" class="form-label">Titre de l'article</label>
            <input type="text" accept="image/png, image/jpeg, image/gif" class="form-control" name="post_title" id="post_title" value="{{ post.title }}" required>
        </div>
        <div class="col-md-12">
            <label for="post_image" class="form-label">Image</label>
            <input type="file" class="form-control" name="post_image" id="post_image">
        </div>
        <div class="col-md-12">
            <label for="post_image_preview" style="width: 100%;">Prévualisation de l'image</label>
            <img src="{% if post.imageExist %}/public/uploads/posts/{{ post.slug }}.webp{% endif %}" alt="" class="post_image_preview" id="post_image_preview">
        </div>
        <div class="col-md-12">
            <label for="post_slug">Permalien</label>
            <input type="text" class="form-control" name="post_slug" id="post_slug" value="{{ post.slug }}">
            <small class="form-text text-muted error" id="slug_error"></small>
        </div>
        <div class="col-md-12">
            <label for="post_description" class="form-label">Description de l'article</label>
            <textarea name="post_description" class="form-control" id="post_description" cols="30" rows="3" required>{{ post.description }}</textarea>
        </div>
        <div class="col-md-12">
            <label for="post_body" class="form-label">Texte de l'article</label>
            <input type="hidden" name="post_body" value="{{ post.body|json_encode }}">
            <div id="post_body"></div>
        </div>
        <button class="btn btn-primary" type="submit" name="post_submit">Enregistrer</button>
    </form>
{% endblock %}

{% block javascript %}
    <script src="/public/assets/admin/js/admin_editor_post.js"></script>
{% endblock %}
