{% extends '/admin/page.twig' %}

{% block page_title %}
    Articles
{% endblock %}

{% block page_content %}
    <a href="{{ route('admin_posts_new') }}">Nouveau post</a>
    <table class="table table-hover my-0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Temps de lecture</th>
            <th>Auteur</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title|raw }}</td>
                <td>
                    {% set readingTime = getReadingTime(post.body) %}
                    {% if readingTime == 0 %}Quelque secondes{% else %}{{ readingTime }} minutes{% endif %}
                </td>
                <td>{{ getPostAuthorById(post.idUser) }}</td>
                <td>
                    <a href="/admin/posts/edit/{{ post.id }}">Editer</a>
                    <a href="/admin/posts/delete/{{ post.id }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
