{% extends '/admin/page.twig' %}

{% block page_title %}
    Articles
{% endblock %}

{% block page_content %}
    <section class="list">
        <header class="tools">
            <a href="{{ route('admin_posts_new') }}">Nouveau post</a>
        </header>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Temps de lecture</th>
                <th>Auteur</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for post in posts %}
                <tr>
                    <td style="text-align: center">{{ post.id }}</td>
                    <td>{{ post.title|raw }}</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">{{ getPostAuthorById(post.id_user) }}</td>
                    <td style="text-align: center"><a href="/admin/posts/edit/{{ post.id }}">Editer</a><a href="/admin/posts/delete/{{ post.id }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}
